<div class="container-fluid">
  <form [formGroup]="form" (ngSubmit)="submit()" style="font-size:12px;">
    <!---->
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <div class="form-row align-items-center">
          <div class="col-auto my-1">
            <select class="custom-select mr-sm-2" style="font-size:small" name="selegibilidad" id="selegibilidad">
              <!--</select> [(ngModel)]="selegibilidad" [ngModelOptions]="{standalone: true}" -->
              <option selected value="0">Nombre...</option>
              <option value="1">Fijo</option>
              <option value="2">Año Cotizado</option>
              <option value="3">Ambos</option>
            </select>
          </div>
          <div class="col-auto my-1">
            <select class="custom-select mr-sm-2" style="font-size:small" name="sentidad" id="sentidad">
              <!--</select> [(ngModel)]="selegibilidad" [ngModelOptions]="{standalone: true}" -->
              <option selected value="0">Apellidos...</option>
              <option value="CUPRUM">CUPRUM</option>
              <option value="TEST">TEST</option>
              <option value="3">Todas</option>
            </select>
          </div>
          <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary btn-md fa fa-search-plus" (click)='submit()'></button>
          </div>
          <div class="col-md-8 my-1" style="margin-left: 2rem" >
            <div class="input-group">
              <textarea class="form-control" aria-label="With2 textarea" id="textoincl" name="textoincl" [(ngModel)]="textoincl"  [ngModelOptions]="{standalone: true}"></textarea>
              <div class="col-auto my-1">
                <button type="submit" class="btn btn-primary btn-sm font-weight-bold" (click)='submit()'>Inclusion</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-12 offset-md-11">
      <p>
        <a class="btn btn-primary btn-md fa fa-filter my-2" data-toggle="collapse" href="#collapseExample" role="button"
          aria-expanded="false" aria-controls="collapseExample">
        </a>
      </p>
    </div>
    <!---->
    <div class="table-responsive table-sm my-2">
      <table class="table table-bordered table-striped sm">
        <thead class="text-center">
          <tr>
            <th>Periodo</th>
            <th>Rut</th>
            <th>Nombres</th>
            <th>Fecha Exclusion</th>
            <!--<th>ID Mensaje</th> -->
            <th>Nota de Exclusion</th>
            <th>Excluido Por</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr formArrayName="orders" *ngFor="let order of ordersFormArray.controls; let i = index">
            <td class="text-center">{{ ordersData[i].cPeriodo }}</td>
            <td class="text-right">{{ ordersData[i].iRUN}} - {{ ordersData[i].cDV }}</td>
            <td class="text-left">{{ ordersData[i].vcApellidoPaterno}} {{ ordersData[i].vcApellidoMaterno}}
              {{ ordersData[i].vcNombres }}
            </td>
            <td class="text-center">{{ ordersData[i].dFechaExclusion }}</td>
            <!--<td>{{ ordersData[i].iCorrelativo }}</td> -->
            <td class="text-left">{{ ordersData[i].vcMensajeExclusion }}</td>
            <td class="text-left">{{ ordersData[i].vcCodigoUsuarioCreacion }}</td>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" [formControlName]="i">
                <!--     {{ordersData[i].iRUN }} -->
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>